body {
    margin: 0px;
    padding: 0px;
}

@mixin uppercase {
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}

.article-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    img {
        width: 100%;
        height: auto;
    }

    &__category {
        color: grey;
        font-size: 14px;
        @include uppercase();
    }

    &__title {
        font-size: 18px;
        @include uppercase();
    }

    &__author {
        font-size: 14px;
    }
}

